<h1>Editing <%= @song.title %></h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.label :artist %>
  <%= f.label :genre %>
  <%= f.label :notes %>
  <%= f.text_field :title %>
  <br />

  <%= f.submit %>
<% end %>
